[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "conrad"]
	path = conrad
	url = https://github.com/fhdsl/conrad
[submodule "githubr"]
	path = githubr
	url = https://github.com/fhdsl/githubr
[submodule "metricminer"]
	path = metricminer
	url = https://github.com/fhdsl/metricminer
